.userProfileImage {
    width: 70vw;
    min-width: 200px;
    max-width: 250px;
    height: 70vw;
    min-height: 200px;
    max-height: 250px;
    border: 2px solid #efefef;
    border-radius: 8px;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userIcon {
    font-size: 100px;
}
