.adminLogin {
    height: 100vh;
    background-image: url("../assets/images/pattern.png");
}

.adminLoginBox {
    max-width: 550px;
    box-shadow: 0 0 20px 10px #cccccc99;
    border-radius: 10px;
}

.adminLoginMainText {
    font-size: 38px;
}

.adminHeaderNav {
    width: 100%;
    padding: 0;
    background-color: white;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.menuItem {
    padding: 0 0.5rem;
}

.menuLink {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
    background-color: transparent;
    border-radius: 5px;
}

.menuLink:hover {
    color: white;
    background-color: #ffffff11;
}

.subMenuItem {
    padding: 0 0.5rem;
}

.adminUserImages {
    width: 220px;
    height: 220px;
    border: 2px solid #efefef;
    border-radius: 8px;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterDropDown {
    width: 100%;
    height: 100%;
    min-height: 38px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.adminHeaderNav {
    width: 100%;
    padding: 0;
    background-color: white;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logoContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adminPanelDrawer {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    box-shadow: 0 0 10px #444444;
    overflow: hidden;
    background-color: #343a40;
}

.panelDrawer {
    position: fixed;
    width: 280px;
    z-index: 2520;
    top: 0;
    right: -80%;
    overflow-y: auto;
    transition: 0.3s;
}

.userLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    border-radius: 40px;
}

.nav-link {
    white-space: nowrap !important;
}

.searchBtn {
    background-color: #cccccc !important;
}
.searchBtn:hover {
    background-color: #ff521d !important;
}

.routeBtns {
    border: 1px solid #ff521d;
    border-radius: 4px;
    color: #ff521d;
    padding: 5px 10px;
    transition: 0.3s;
}

.routeBtns:hover {
    background-color: #ff521d;
    color: #ffffff;
    transition: 0.3s;
}

.discount {
    max-width: 150px !important;
}

@media screen and (min-width: 768px) {
    .adminPanelDrawer {
        display: flex;
    }
}
