/*.packageContainer {*/
/*    width: 70%;*/
/*    min-width: 280px;*/
/*    max-width: 300px;*/
/*    min-height: 360px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*    background-color: #ffffff;*/
/*    border: 3px solid #ff521daa;*/
/*    border-radius: 7px;*/
/*    !*-webkit-animation: shiningIn 2.5s infinite;*!*/
/*    !*-moz-animation: shiningIn 2.5s infinite;*!*/
/*    !*-ms-animation: shiningIn 2.5s infinite;*!*/
/*    !*-o-animation: shiningIn 2.5s infinite;*!*/
/*    !*animation: shiningIn 2.5s infinite;*!*/
/*}*/

/*@keyframes shiningIn {*/
/*    0% { box-shadow: 0 0 0 #ff521d00; }*/
/*    50%   { box-shadow: 0 0 12px #ff521d; }*/
/*    100%   { box-shadow: 0 0 0 #ff521d00; }*/
/*}*/
/*@-moz-keyframes shiningIn {*/
/*    0% { box-shadow: 0 0 8px #ff521d00; }*/
/*    50%   { box-shadow: 0 0 8px #ff521d; }*/
/*    100%   { box-shadow: 0 0 8px #ff521d00; }*/
/*}*/
/*@-webkit-keyframes shiningIn {*/
/*    0% { box-shadow: 0 0 8px #ff521d00; }*/
/*    50%   { box-shadow: 0 0 8px #ff521d; }*/
/*    100%   { box-shadow: 0 0 8px #ff521d00; }*/
/*}*/
/*@-ms-keyframes shiningIn {*/
/*    0% { box-shadow: 0 0 8px #ff521d00; }*/
/*    50%   { box-shadow: 0 0 8px #ff521d; }*/
/*    100%   { box-shadow: 0 0 8px #ff521d00; }*/
/*}*/
/*@-o-keyframes shiningIn {*/
/*    0% { box-shadow: 0 0 8px #ff521d00; }*/
/*    50%   { box-shadow: 0 0 8px #ff521d; }*/
/*    100%   { box-shadow: 0 0 8px #ff521d00; }*/
/*}*/
