.mainContainer {
    flex: 1;
    min-height: 100vh;
    padding: 3rem 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/images/pattern.png");
    background-position: center;
    background-repeat: repeat;
}

.headerImage {
    width: 150px;
    object-fit: contain;
}

.sliderContainer {
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.sliderImage {
    width: 100%;
    min-height: 350px;
    min-width: 1120px;
    height: auto;
    margin-top: -10%;
}

.buttonsContainer {
    margin: 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.type {
    display: flex;
    width: 100%;
    max-width: 320px;
    height: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 2rem;
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #66666666;
    border: 0 solid transparent;
    background-color: #ffffff;
    transition: 0.2s;
}

.type:hover {
    border: 3px solid #ff521d;
    transform: scale(1.1);
    transition: 0.2s;
}

.type:focus {
    box-shadow: 0 0 10px #66666666;
}

.image {
    width: 36%;
    object-fit: contain;
}

.button {
    width: 90%;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background-image: linear-gradient(120deg, #ffc004, #ff521d);
    color: transparent;
    border-radius: 50px;
}

.type:hover .button {
    height: 40px;
    color: #ffffff;
    transition: 0.3s;
}

.button:hover {
    box-shadow: 0 5px 10px #66666644;
}
/*auth part*/
.authMainContainer {
    flex: 1;
    width: 100%;
    min-height: 100vh;
    padding: 3rem 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/images/pattern.png");
    background-position: center;
    background-repeat: repeat;
}

.whiteAreaVertical {
    min-width: 280px;
    max-width: 700px;
    width: 80%;
    min-height: 600px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 15px #33333366;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    overflow: hidden;
    transition: 0.3s;
}

.topSide {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(45deg, #ff6c1d, #ffc004);
}

.btnsContainer {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-bottom: -1px;
}

.bottomSide {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.mH1 {
    min-height: 250px;
}

.mH2 {
    min-height: 576px;
}

.topPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 15px;
}

.horizontalize {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.iconContainer {
    width: 20px;
    height: 20px;
    background-color: #ffffff88;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}
.loginLogo {
    width: 100px;
    object-fit: contain;
}
/*end of auth part*/
/*login part*/
.loginContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.loginForm {
    width: 70%;
}

.codeContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.addressBox {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
}

.addressBox::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
.addressBox::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #808080;
    border-radius: 10px;
}
.addressBox::-webkit-scrollbar-thumb {
    background: #d2cfcf;
    border-radius: 10px;
}
.addressBox::-webkit-scrollbar-thumb:hover {
    background: #b3afb3;
}

.loginUpload {
    height: auto;
    padding: 20px;
    color: #999999;
    border: 1px dashed #cccccc;
}

.loginImage {
    width: 250px;
    object-fit: contain;
    border-radius: 5px;
}

.removeImageBtnUserLogin {
    background-color: #efefef;
    border: 1px solid #cccccc;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 22px;
    height: 22px;
    top: -5px;
    right: 0;
    z-index: 999;
}

.newAuthBtn {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #ffffff;
}

@media screen and (min-width: 768px) {
    .loginForm {
        width: 50%;
        padding: 60px 0 80px 0;
    }
}
/*end of login part*/
/*home part*/
.mw270 {
    min-width: 270px;
}
.mw550 {
    min-width: auto;
}
.topQrBox {
    display: flex !important;
}

.bottomQrBox {
    display: none !important;
}

.flex1 {
    flex: 1;
}
.flex2 {
    flex: 1;
}

.homeMainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ffffff;
}

.firstPart {
    background-color: #ffffff;
}

.inFirstPart {
    min-height: 650px;
    padding: 3rem 0;
}

.secondPart {
    position: relative;
    background-color: #f6f6f6;
    background-image: url("../assets/images/fPartBg.png");
    background-position: center;
}

.thirdPart {
    position: relative;
    background-color: #ff521d;
}

.eachParts {
    min-height: 500px;
    padding: 3rem 0;
}

.eachPart1 {
    min-height: 540px;
}

.inParts {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.fourthPart {
    position: relative;
    background-color: #dfe4ec;
    background-image: url("../assets/images/thPartBg.png");
    background-position: center;
}

.fifthPart {
    background-color: #ffffff;
}


.mainTitle {
    text-align: center;
}

.headerMainImageContainer {
    flex: 1;
}

.headerMainImage {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.cpt-5 {
    padding-top: 4rem;
}

.cardFrameContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardFrame {
    width: 90%;
    max-width: 400px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 0 70px #00000066;
}

.eachPartDesc {
    flex: 1;
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

.number {
    color: #ffc004;
    font-weight: bold;
}

.br10 {
    border-radius: 10px;
}

iframe {
    border: none !important;
}

.bgImage {
    width: 100%;
    min-height: 200px;
    background-image: url("../assets/images/bg1.png");
    padding: 2rem 3rem;
}

.rightPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signUpLink {
    display: flex;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 10px 15px 10px 10px;
    box-shadow: 0 0 10px 0 #00000044;
    transition: 0.2s;
    font-weight: bold;
    margin-top: 3rem;
}
.signUpLink:hover {
    color: #ff521d;
    box-shadow: 1px 10px 10px 0 #00000044;
    transition: 0.2s;
}

.reportBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    background-color: #ffffff;
}

.descriptionBox {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
}

.cpx-12 {
    padding: 0 12px;
}

.optionBtn:hover {
    background-color: #efefef;
}
th {
    color: #666666;
    font-weight: normal;
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
}
.tt:hover {
    background-color: #fafafa;
    cursor: pointer;
}

td {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

tr td:first-child {
    padding-right: 20px;
}

tr td:last-child {
    padding-left: 10px;
}

.userProfileImage {
    width: 70vw;
    min-width: 200px;
    max-width: 250px;
    height: 70vw;
    min-height: 200px;
    max-height: 250px;
    border: 2px solid #efefef;
    border-radius: 8px;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.userImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.userIcon {
    font-size: 100px;
}

.cpr1 {
    padding-right: 0;
}

.cpl1 {
    padding-left: 0;
}

.jobPartOpened {
    max-height: 1000px !important;
}

.jobPartClosed {
    max-height: 0 !important;
}

.addImageBox {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 1px dashed #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectedShopImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    object-fit: contain;
    margin: 0.5rem;
}

.shopDetailsImage {
    /*width: 100%;*/
    height: 350px;
    object-fit: contain;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
}

.bgImageBlur {
    width: 100%;
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.carousel-control-prev, .carousel-control-next {
    z-index: 110;
}

@media screen and (min-width: 350px) {
    .cpy-12 {
        padding-top: 7rem;
    }
}

@media screen and (min-width: 425px) {
    .cardFrame {
        width: 80%;
    }
}

@media screen and (min-width: 510px) {
    .cardFrame {
        width: 75%;
    }
}

@media screen and (min-width: 580px) {
    .cpr1 {
        padding-right: 0.3rem;
    }

    .cpl1 {
        padding-left: 0.3rem;
    }
}

@media screen and (min-width: 768px) {
    .cardFrame {
        width: 80%;
    }
    .inParts {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .cpy-12 {
        padding-top: 6rem;
    }
    .signUpLink {
        margin-top: 0;
    }
    .rightPart {
        align-items: flex-start;
    }
    .mainTitle {
        text-align: right;
    }
    .inFirstPart {
        min-height: 500px;
    }
    .mw270 {
        min-width: 270px;
    }
    .mw550 {
        min-width: 550px;
    }
}

@media screen and (min-width: 800px) {
    .cardFrame {
        width: 85%;
    }
    .topQrBox {
        display: none !important;
    }
    .bottomQrBox {
        display: flex !important;
    }
}

@media screen and (min-width: 992px) {
    .cardFrame {
        width: 75%;
    }
    .eachPartDesc {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .eachParts {
        min-height: 520px;
    }
    .cpy-12 {
        padding-top: 4rem;
    }
    .mw550 {
        min-width: 550px;
    }
}

@media screen and (min-width: 1150px) {
    .flex2 {
        flex: 0.5;
    }
}

@media screen and (min-width: 1200px) {
    .eachParts {
        min-height: 560px;
    }
    .mw270 {
        min-width: 270px;
    }
}

/*end of home part*/
@media screen and (min-width: 768px) {
    .type {
        height: 430px;
    }
    .image {
        width: 50%;
    }
}
