.mainContainer {
    flex: 1;
    min-height: 100vh;
    padding: 3rem 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../assets/images/pattern.png");
    background-position: center;
    background-repeat: repeat;
}

.whiteAreaHorizontal {
    min-width: 300px;
    max-width: 960px;
    width: 80%;
    min-height: 600px;
    height: 600px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 5px 15px #33333366;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
}

.whiteAreaVertical {
    min-width: 300px;
    max-width: 600px;
    width: 80%;
    min-height: 600px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 15px #33333366;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    overflow: hidden;
    transition: 0.3s;
}

.loginRightSide {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.loginLeftSide {
    width: 30%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 0;
    background-image: linear-gradient(45deg, #ff6c1d, #ffc004);
}

.topSide {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(45deg, #ff6c1d, #ffc004);
}

.btnsContainer {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-bottom: -1px;
}

.bottomSide {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.mH1 {
    min-height: 250px;
}

.mH2 {
    min-height: 576px;
}

.newAuthBtn {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-weight: bold;
}

.authBtn {
    position: absolute;
    z-index: 3;
    width: 50%;
    height: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    top: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: bold;
}

.whiteBox {
    width: 100%;
    height: 50px;
    background-color: white;
    transition: 0.3s;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.goLeft {
    right: 50%;
    -webkit-animation: bounce 0.7s;
    -moz-animation: bounce 0.7s;
    -ms-animation: bounce 0.7s;
    -o-animation: bounce 0.7s;
    animation: bounce 0.7s;
}

.bgWhite {
    background-color: #ffffff;
}

.topPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 15px;
}

.horizontalize {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.iconContainer {
    width: 20px;
    height: 20px;
    background-color: #ffffff88;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}
.loginLogo {
    width: 100px;
    object-fit: contain;
}

@keyframes bounce {
    0% { right: 0; }
    25% { right: 0; }
    50% { right: 50%; transform: scaleX(0.7); }
    75% { right: 50%; transform: scaleX(1); }
    100% { right: 50%; }
}
@-moz-keyframes bounce {
    0% { right: 0; }
    25% { right: 0; }
    50% { right: 50%; transform: scaleX(0.8); }
    75% { right: 50%; transform: scaleX(1); }
    100% { right: 50%; }
}
@-webkit-keyframes bounce {
    0% { right: 0; }
    25% { right: 0; }
    50% { right: 50%; transform: scaleX(0.8); }
    75% { right: 50%; transform: scaleX(1); }
    100% { right: 50%; }
}
@-ms-keyframes bounce {
    0% { right: 0; }
    25% { right: 0; }
    50% { right: 50%; transform: scaleX(0.8); }
    75% { right: 50%; transform: scaleX(1); }
    100% { right: 50%; }
}
@-o-keyframes bounce {
    0% { right: 0; }
    25% { right: 0; }
    50% { right: 50%; transform: scaleX(0.8); }
    75% { right: 50%; transform: scaleX(1); }
    100% { right: 50%; }
}

@keyframes bounceReverse {
    0% { right: 50%; }
    25% { right: 50%; }
    50% { right: 0; transform: scaleX(0.8); }
    75% { right: 0; transform: scaleX(1); }
    100% { right: 0; }
}
@-moz-keyframes bounceReverse {
    0% { right: 50%; }
    25% { right: 50%; }
    50% { right: 0; transform: scaleX(0.8); }
    75% { right: 0; transform: scaleX(1); }
    100% { right: 0; }
}
@-webkit-keyframes bounceReverse {
    0% { right: 50%; }
    25% { right: 50%; }
    50% { right: 0; transform: scaleX(0.8); }
    75% { right: 0; transform: scaleX(1); }
    100% { right: 0; }
}
@-ms-keyframes bounceReverse {
    0% { right: 50%; }
    25% { right: 50%; }
    50% { right: 0; transform: scaleX(0.8); }
    75% { right: 0; transform: scaleX(1); }
    100% { right: 0; }
}
@-o-keyframes bounceReverse {
    0% { right: 50%; }
    25% { right: 50%; }
    50% { right: 0; transform: scaleX(0.8); }
    75% { right: 0; transform: scaleX(1); }
    100% { right: 0; }
}
