.optionBtn:hover {
    background-color: #efefef;
}
th {
    color: #666666;
    font-weight: normal;
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
}
.tt:hover {
    background-color: #fafafa;
    cursor: pointer;
}

td {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

tr td:first-child {
    padding-right: 20px;
}

tr td:last-child {
    padding-left: 10px;
}
